{% extends 'index.html' %}
{% block title %}all images // {{ super() }}{% endblock title %}
{% block pagetitle %}all images{% endblock pagetitle %}

{% block head_css %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">
{% endblock %}

{% block head_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".content").fitVids();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="pure-u">
        <div class="content">
            {% for album, images in page.gallery.iteritems() %}            
            <h2><a name="{{ album }}">{{ album }}</a></h2>
            
                {% for image in images %}
                <a class="{{ album }} cboxElement" href="{{ SITEURL }}/images/thumbnails/opt/{{ image }}" title="{{ image }}"><img src="{{ SITEURL }}/images/thumbnails/small/{{ image }}"></a>
                {% endfor %}
            <hr/>
            {% endfor %}
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock %}


